# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized**

**Objectives :**

- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists 
- List some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. TensorFlow
5. Matplotlib

|Data Science Tools|
-----------------------------
|Apache Spark|
|RStudio|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
x = (3*4)+5
print(x)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60

z = 200/60
print(z)

3.3333333333333335

## Author: 
Farhad Alimardanli